html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a {
  color: #00b9fe;
  text-decoration: none; }

@font-face {
  font-family: "Elektra Light Pro";
  src: url("../../fonts/Elektra Light Pro.otf"); }

@font-face {
  font-family: "Elektra Medium Pro";
  src: url("../../fonts/Elektra Medium Pro.ttf"); }

@font-face {
  font-family: "Elektra Medium Pro Italic";
  src: url("../../fonts/Elektra Medium Pro Italic.ttf"); }

body {
  color: #5c7b98;
  font-family: "Elektra Light Pro", sans-serif;
  font-size: 15px; }

.clearfix::after {
  content: '';
  clear: both;
  display: table; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%; }

.header {
  padding-top: 23px;
  height: 97px;
  background-image: -webkit-radial-gradient(center, circle, #f1f4f9, #d9e5ef);
  background-image: -o-radial-gradient(center, circle, #f1f4f9, #d9e5ef);
  background-image: radial-gradient(circle at center, #f1f4f9, #d9e5ef); }

.logo {
  float: left; }

.contacts {
  float: right; }
  .contacts .tel__gray {
    display: block;
    font-size: 25px;
    color: #5c7b98;
    padding-bottom: 2px; }
    .contacts .tel__gray .tel__code {
      font-size: 15px;
      color: #00b9fe;
      font-weight: 700;
      margin-right: 9px;
      vertical-align: top; }
  .contacts .contact-mail {
    display: block;
    font-size: 17px;
    border-bottom: 1px solid #00b9fe;
    font-weight: 400; }
    .contacts .contact-mail:hover {
      color: #613993;
      border-bottom: 1px solid #613993; }

.upButton {
  display: none; }
