html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

.maincontent {
  position: relative;
  min-height: 100%; }

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #00b9fe;
  text-decoration: none; }

h3 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Elektra Light Pro";
  src: url("../../fonts/Elektra Light Pro.otf"); }

@font-face {
  font-family: "Elektra Medium Pro";
  src: url("../../fonts/Elektra Medium Pro.ttf"); }

@font-face {
  font-family: "Elektra Medium Pro Italic";
  src: url("../../fonts/Elektra Medium Pro Italic.ttf"); }

body {
  color: #5c7b98;
  font-family: "Elektra Light Pro", sans-serif;
  font-size: 15px; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  height: 100%; }
  .container::after {
    content: "";
    clear: both;
    display: block; }

.header {
  padding-top: 23px;
  height: 97px;
  background-image: -webkit-radial-gradient(center, circle, #f1f4f9, #d9e5ef);
  background-image: -o-radial-gradient(center, circle, #f1f4f9, #d9e5ef);
  background-image: radial-gradient(circle at center, #f1f4f9, #d9e5ef); }

.colored-logo {
  float: left; }

.contacts {
  float: right; }
  .contacts .tel__gray {
    display: block;
    font-size: 25px;
    color: #5c7b98;
    padding-bottom: 2px;
    float: right; }
    .contacts .tel__gray .tel__code {
      font-size: 15px;
      color: #00b9fe;
      font-weight: 700;
      margin-right: 9px;
      vertical-align: top; }
  .contacts .contact-mail {
    display: block;
    font-size: 17px;
    border-bottom: 1px solid #00b9fe;
    font-weight: 400; }
    .contacts .contact-mail:hover {
      color: #613993;
      border-bottom: 1px solid #613993; }

.header-line .header-top {
  background-color: #45626e;
  padding-top: 8px;
  padding-bottom: 2px; }
  .header-line .header-top .small-socials {
    margin-left: -2px;
    float: left; }
    .header-line .header-top .small-socials .small-socials__link_vk {
      background-image: url(../images/small-socials.png); }
    .header-line .header-top .small-socials .small-socials__link_fb {
      background-image: url(../images/small-socials.png);
      background-position: 57px 0px; }
    .header-line .header-top .small-socials .small-socials__link_tw {
      background-image: url(../images/small-socials.png);
      background-position: 114px 0px; }
    .header-line .header-top .small-socials .small-socials__link {
      margin-left: 5px;
      display: inline-block;
      width: 26px;
      height: 26px; }
      .header-line .header-top .small-socials .small-socials__link:first-child {
        margin-left: 0; }
  .header-line .header-top .adress {
    float: right; }
    .header-line .header-top .adress::after {
      content: "";
      clear: both;
      display: block; }
    .header-line .header-top .adress .tel__white {
      display: block;
      font-size: 25px;
      color: #ffffff;
      padding-bottom: 2px;
      float: right; }
      .header-line .header-top .adress .tel__white .tel__code {
        font-size: 15px;
        color: #00b9fe;
        font-weight: 700;
        margin-right: 9px;
        vertical-align: top; }
    .header-line .header-top .adress .adress__marker {
      margin-right: 10px;
      float: left; }
    .header-line .header-top .adress .adress__title {
      float: left;
      display: inline-block;
      vertical-align: top;
      line-height: 25px;
      color: #ffffff;
      font-size: 13px;
      margin-right: 188px; }

.header-line .header-bot {
  padding-top: 24px;
  padding-bottom: 17px;
  background-image: -webkit-radial-gradient(center, circle, #f1f4f9, #d9e5ef);
  background-image: -o-radial-gradient(center, circle, #f1f4f9, #d9e5ef);
  background-image: radial-gradient(circle at center, #f1f4f9, #d9e5ef); }
  .header-line .header-bot .colored-logo {
    float: left; }
  .header-line .header-bot .search {
    float: left;
    margin-left: 60px;
    padding-top: 10px; }
    .header-line .header-bot .search::after {
      content: "";
      clear: both;
      display: block; }
    .header-line .header-bot .search .search__input_text {
      display: block;
      float: left;
      width: 249px;
      height: 31px;
      border: 1px solid #dce6f0;
      padding-left: 10px; }
      .header-line .header-bot .search .search__input_text:focus {
        outline: none; }
      .header-line .header-bot .search .search__input_text::-webkit-input-placeholder {
        color: #dce6f0; }
      .header-line .header-bot .search .search__input_text::-moz-placeholder {
        color: #dce6f0; }
      .header-line .header-bot .search .search__input_text:-ms-input-placeholder {
        color: #dce6f0; }
      .header-line .header-bot .search .search__input_text::-ms-input-placeholder {
        color: #dce6f0; }
      .header-line .header-bot .search .search__input_text::placeholder {
        color: #dce6f0; }
    .header-line .header-bot .search .search__input_submit {
      float: right;
      display: block;
      height: 35px;
      width: 80px;
      margin-left: -2px;
      border: none;
      padding: 0 0 0 0;
      background-color: #00b9fe;
      color: #ffffff;
      font-size: 17px;
      font-weight: 700;
      cursor: pointer; }
      .header-line .header-bot .search .search__input_submit:focus {
        outline: none; }
  .header-line .header-bot .order-info {
    float: right;
    width: 377px; }
    .header-line .header-bot .order-info::after {
      content: "";
      clear: both;
      display: block; }
    .header-line .header-bot .order-info .order-info__item {
      float: left;
      display: block;
      font-size: 13px;
      margin-right: 20px;
      padding-top: 20px; }
      .header-line .header-bot .order-info .order-info__item .order-info__link {
        border-bottom: 1px solid #00b9fe; }
        .header-line .header-bot .order-info .order-info__item .order-info__link:hover {
          color: #613993;
          border-color: #8b71b1; }
    .header-line .header-bot .order-info .order-info__item_backet {
      border: 1px solid #dce6f0;
      margin-top: 4px;
      margin-right: 0;
      float: right;
      width: 137px;
      height: 29px;
      padding-top: 11px;
      background-color: #ffffff;
      cursor: pointer; }
      .header-line .header-bot .order-info .order-info__item_backet:hover {
        background-color: #ffffff; }
      .header-line .header-bot .order-info .order-info__item_backet:before {
        display: inline-block;
        content: '';
        width: 20px;
        height: 17px;
        background-image: url("../images/backet.png");
        margin-left: 11px; }
      .header-line .header-bot .order-info .order-info__item_backet .order-info__link_backet {
        display: inline-block;
        margin-left: 18px;
        vertical-align: top;
        margin-top: 3px;
        color: #5c7b98;
        border-color: #8ea4b8; }
      .header-line .header-bot .order-info .order-info__item_backet:hover > .order-info__backet {
        display: block; }
      .header-line .header-bot .order-info .order-info__item_backet .order-info__backet {
        display: none;
        position: relative;
        z-index: 1;
        margin-top: 8px;
        width: 246px;
        float: right;
        margin-right: -1px; }
        .header-line .header-bot .order-info .order-info__item_backet .order-info__backet::after {
          content: "";
          clear: both;
          display: block; }
        .header-line .header-bot .order-info .order-info__item_backet .order-info__backet .order-info-backet__item {
          height: 75px;
          background-color: #ffffff;
          border: 1px solid #dce6f0;
          border-bottom: none; }
          .header-line .header-bot .order-info .order-info__item_backet .order-info__backet .order-info-backet__item:last-child {
            border-bottom: 1px solid #dce6f0; }
          .header-line .header-bot .order-info .order-info__item_backet .order-info__backet .order-info-backet__item:nth-child(2n) {
            background-color: #f8fafb; }
          .header-line .header-bot .order-info .order-info__item_backet .order-info__backet .order-info-backet__item .order-info-backet__img_1 {
            margin-left: 24px;
            margin-top: 13px;
            float: left; }
          .header-line .header-bot .order-info .order-info__item_backet .order-info__backet .order-info-backet__item .order-info-backet__img_2 {
            margin-left: 8px;
            margin-top: 12px;
            float: left; }
          .header-line .header-bot .order-info .order-info__item_backet .order-info__backet .order-info-backet__item .order-info-backet__img_3 {
            margin-left: 13px;
            margin-top: 17px;
            float: left; }
          .header-line .header-bot .order-info .order-info__item_backet .order-info__backet .order-info-backet__item .order-info-backet__link {
            width: 136px;
            display: inline-block;
            float: right;
            margin-right: 25px;
            margin-top: 23px;
            line-height: 18px;
            text-decoration: underline; }

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 238px;
  background-image: url("../images/footer_bg.png"); }
  .footer .ft-left-wrapper {
    float: left;
    padding-top: 99px; }
  .footer .ft-middle-wrapper {
    float: left;
    padding-top: 62px;
    margin-left: 120px; }
    .footer .ft-middle-wrapper::after {
      content: "";
      clear: both;
      display: block; }
    .footer .ft-middle-wrapper .ft-menu {
      float: left;
      margin-left: 71px; }
      .footer .ft-middle-wrapper .ft-menu:first-child {
        margin-left: 0; }
      .footer .ft-middle-wrapper .ft-menu .ft-menu__name {
        display: inline-block;
        font-size: 15px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 10px; }
      .footer .ft-middle-wrapper .ft-menu .ft-menu__element {
        margin-bottom: 7px; }
        .footer .ft-middle-wrapper .ft-menu .ft-menu__element .ft-menu__link {
          color: #fff;
          text-decoration: underline; }
  .footer .ft-right-wrapper {
    float: right;
    padding-top: 72px;
    word-spacing: 1px; }
    .footer .ft-right-wrapper .mobile-store {
      margin-bottom: 21px; }
      .footer .ft-right-wrapper .mobile-store::after {
        content: "";
        clear: both;
        display: block; }
      .footer .ft-right-wrapper .mobile-store .apple {
        display: block;
        float: left; }
      .footer .ft-right-wrapper .mobile-store .google {
        float: right;
        display: block;
        margin-left: 6px; }
    .footer .ft-right-wrapper .big-socials {
      margin-left: -3px; }
      .footer .ft-right-wrapper .big-socials .socials-item {
        margin-left: 8px;
        cursor: pointer; }
        .footer .ft-right-wrapper .big-socials .socials-item:first-child {
          margin-left: 0; }
      .footer .ft-right-wrapper .big-socials .big-socials__link_vk {
        display: inline-block;
        height: 44px;
        width: 44px;
        background-image: url("../images/socials.png"); }
      .footer .ft-right-wrapper .big-socials .big-socials__link_fb {
        display: inline-block;
        height: 44px;
        width: 44px;
        background-image: url("../images/socials.png");
        background-position: 95px 0; }
      .footer .ft-right-wrapper .big-socials .big-socials__link_tw {
        display: inline-block;
        height: 44px;
        width: 44px;
        background-image: url("../images/socials.png");
        background-position: 45px 0; }

.main-navigation {
  margin-top: -20px;
  margin-bottom: 16px; }

.main-navigation__list::after {
  content: '';
  position: relative;
  right: 4px;
  display: block;
  width: 999px;
  border-bottom: 1px solid #dddddd; }

.main-navigation__list .main-navigation__item {
  display: inline-block;
  background-color: #f7f7f7;
  margin-left: 9px; }
  .main-navigation__list .main-navigation__item .main-navigation__link {
    color: #5c7b98;
    height: 40px;
    display: block;
    line-height: 40px;
    padding-left: 12px;
    padding-right: 15.5px;
    position: relative; }
    .main-navigation__list .main-navigation__item .main-navigation__link::after {
      content: '';
      display: block;
      border: 20px solid transparent;
      border-left: 12px solid #f7f7f7;
      position: absolute;
      top: 0;
      right: -32px; }
    .main-navigation__list .main-navigation__item .main-navigation__link::before {
      content: '';
      display: block;
      border: 20px solid #f7f7f7;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      position: absolute;
      top: 0;
      left: -12px; }
    .main-navigation__list .main-navigation__item .main-navigation__link:hover:before {
      border-color: #dce6f0;
      border-left-color: transparent; }
    .main-navigation__list .main-navigation__item .main-navigation__link:hover:after {
      border-left-color: #dce6f0; }
    .main-navigation__list .main-navigation__item .main-navigation__link:hover {
      background-color: #dce6f0; }

.main-navigation__list .main-navigation__item_active {
  background-color: #00b9fe; }
  .main-navigation__list .main-navigation__item_active .main-navigation__link {
    color: #fff; }
    .main-navigation__list .main-navigation__item_active .main-navigation__link::after {
      border-left-color: #00b9fe; }
    .main-navigation__list .main-navigation__item_active .main-navigation__link::before {
      border-top-color: #00b9fe;
      border-bottom-color: #00b9fe; }
    .main-navigation__list .main-navigation__item_active .main-navigation__link:hover:before {
      border-color: #dce6f0;
      border-left-color: transparent; }
    .main-navigation__list .main-navigation__item_active .main-navigation__link:hover:after {
      border-left-color: #dce6f0; }
    .main-navigation__list .main-navigation__item_active .main-navigation__link:hover {
      background-color: #dce6f0;
      color: #5c7b98; }

.main-navigation_product {
  margin-top: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dddddd; }
  .main-navigation_product .main-navigation__list:after {
    border-bottom: none; }

.auxiliary-items {
  margin-bottom: 18px; }

.store-descript {
  float: right;
  width: 740px;
  padding-bottom: 295px; }
  .store-descript .store-descript__title {
    font-size: 25px;
    font-weight: 700;
    word-spacing: 2px;
    margin-bottom: 6px; }
  .store-descript .store-descript__parf {
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 20px; }

.sidebar-navigation {
  float: left;
  width: 230px; }
  .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item .sidebar-navigation__proguct-name {
    display: block;
    padding-top: 5.5px;
    padding-bottom: 3.5px;
    padding-left: 18px;
    background-color: #f7f7f7;
    cursor: pointer; }
    .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item .sidebar-navigation__proguct-name::before {
      content: '';
      display: block;
      height: 1px;
      border-top: 1px solid #fff;
      width: 230px;
      position: relative;
      left: -18px;
      top: -6px; }
    .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item .sidebar-navigation__proguct-name::after {
      content: '';
      display: block;
      height: 1px;
      border-bottom: 1px solid #dae1eb;
      width: 230px;
      position: relative;
      left: -18px;
      top: 3px; }
    .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item .sidebar-navigation__proguct-name:hover {
      background-color: #dce6f0; }
    .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item .sidebar-navigation__proguct-name:hover::before {
      border-top-color: #dce6f0; }
  .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item_active .sidebar-navigation__product-name_active {
    background-color: #00b9fe;
    color: #fff; }
    .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item_active .sidebar-navigation__product-name_active:hover {
      background-color: #dce6f0;
      color: #5c7b98; }
  .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item_active .sidebar-navigation-submenu__item {
    position: relative; }
    .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item_active .sidebar-navigation-submenu__item .sidebar-navigation-submenu__link {
      display: block;
      padding-top: 5.5px;
      padding-bottom: 3.5px;
      padding-right: 14px;
      padding-left: 31px;
      color: #5c7b98;
      background-color: #f7f7f7; }
      .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item_active .sidebar-navigation-submenu__item .sidebar-navigation-submenu__link::before {
        content: '';
        display: block;
        height: 1px;
        border-top: 1px solid #fff;
        width: 230px;
        position: relative;
        left: -31px;
        top: -6px; }
      .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item_active .sidebar-navigation-submenu__item .sidebar-navigation-submenu__link::after {
        content: '';
        display: block;
        height: 1px;
        border-bottom: 1px solid #dae1eb;
        width: 230px;
        position: relative;
        left: -31px;
        top: 3px; }
      .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item_active .sidebar-navigation-submenu__item .sidebar-navigation-submenu__link:hover {
        background-color: #dce6f0; }
      .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item_active .sidebar-navigation-submenu__item .sidebar-navigation-submenu__link:hover::before {
        border-top-color: #dce6f0; }
    .sidebar-navigation .sidebar-navigation__list .sidebar-navigation__item_active .sidebar-navigation-submenu__item::before {
      content: '>';
      position: absolute;
      top: 10px;
      left: 19px;
      font-size: 12px;
      font-weight: 1000;
      cursor: pointer; }

.upButton {
  display: none;
  position: absolute;
  top: 1582px;
  right: 363px;
  width: 77px;
  height: 34px;
  background-color: #00b9fe;
  cursor: pointer;
  z-index: 2; }
  .upButton .upButton__text {
    color: #fff;
    font-weight: 700;
    line-height: 36px;
    font-size: 16px;
    padding-left: 9px; }
  .upButton::before {
    content: "";
    display: block;
    border: 5px solid #00b9fe;
    position: absolute;
    top: -10px;
    left: 33px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent; }
  .upButton::after {
    content: "";
    display: block;
    border: 5px solid #fff;
    position: absolute;
    top: 24px;
    left: 33px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent; }

.breadcrumbs {
  float: left;
  position: relative;
  top: 4px;
  left: -2px; }
  .breadcrumbs .breadcrumbs__list {
    display: inline-block; }
    .breadcrumbs .breadcrumbs__list .breadcrumbs__item {
      display: inline; }
      .breadcrumbs .breadcrumbs__list .breadcrumbs__item .breadcrumbs__link {
        border-bottom: none;
        color: #5c7b98; }
      .breadcrumbs .breadcrumbs__list .breadcrumbs__item .breadcrumbs__link_active {
        border-bottom: 1px solid #00b9fe;
        color: #00b9fe; }
      .breadcrumbs .breadcrumbs__list .breadcrumbs__item::after {
        content: '>';
        position: relative;
        left: 1px;
        font-size: 11px; }
      .breadcrumbs .breadcrumbs__list .breadcrumbs__item:last-child::after {
        content: none; }

.list-index {
  float: right;
  position: relative;
  left: 132px;
  top: 8px;
  word-spacing: 4.5px; }
  .list-index .list-index__list .list-index__item {
    display: inline-block; }
    .list-index .list-index__list .list-index__item .list-index__link {
      font-size: 15px;
      border-bottom: 2px solid #7fdcfe; }
    .list-index .list-index__list .list-index__item .list-index__link_active {
      color: #5c7b98;
      border-bottom: none; }

.productsList {
  float: right;
  width: 740px;
  margin-bottom: 18px; }
  .productsList .productList {
    border: 1px solid #dae1eb;
    margin-bottom: 20px;
    width: 737px;
    height: 158px; }
    .productsList .productList::after {
      content: "";
      clear: both;
      display: block; }
    .productsList .productList:hover {
      -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
      cursor: pointer; }
    .productsList .productList .productList__image {
      float: left; }
    .productsList .productList .product__image_1 {
      margin-left: 25px;
      margin-top: 32px;
      margin-bottom: 0; }
    .productsList .productList .product__image_2 {
      margin-left: 43px;
      margin-top: 16px;
      margin-bottom: 0; }
    .productsList .productList .product__image_3 {
      margin-left: 42px;
      margin-top: 28px;
      margin-bottom: 0; }
    .productsList .productList .product__image_4 {
      margin-left: 38px;
      margin-top: 18px;
      margin-bottom: 0; }
    .productsList .productList .product__image_5 {
      margin-left: 37px;
      margin-top: 25px;
      margin-bottom: 0; }
    .productsList .productList .product__image_6 {
      margin-left: 34px;
      margin-top: 41px;
      margin-bottom: 0; }
    .productsList .productList .productList__description {
      float: right;
      width: 443px;
      margin-right: 102px;
      margin-top: 32px; }
      .productsList .productList .productList__description .productList__title {
        display: inline-block;
        color: #00b9fe;
        border-bottom: 2px solid #7fdcfe;
        margin-bottom: 14px; }
      .productsList .productList .productList__description .productList__stats {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400; }
        .productsList .productList .productList__description .productList__stats .productList__stats-line {
          display: inline; }

.productsGrid {
  float: right;
  width: 740px;
  margin-bottom: 18px;
  padding-bottom: 324px; }
  .productsGrid::after {
    content: "";
    clear: both;
    display: block; }
  .productsGrid .productGrid {
    display: block;
    float: left;
    border: 1px solid #dae1eb;
    margin-bottom: 24px;
    width: 228px;
    height: 352px;
    margin-left: 25px; }
    .productsGrid .productGrid::after {
      content: "";
      clear: both;
      display: block; }
    .productsGrid .productGrid:nth-child(3n+1) {
      margin-left: 0; }
    .productsGrid .productGrid:hover {
      -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
      cursor: pointer; }
    .productsGrid .productGrid .product__image_1 {
      margin-left: 25px;
      margin-top: 30px;
      margin-bottom: 12px; }
    .productsGrid .productGrid .product__image_2 {
      margin-left: 57px;
      margin-top: 16px;
      margin-bottom: 21px; }
    .productsGrid .productGrid .product__image_3 {
      margin-left: 47px;
      margin-top: 28px;
      margin-bottom: 31px; }
    .productsGrid .productGrid .product__image_4 {
      margin-left: 43px;
      margin-top: 23px;
      margin-bottom: 21px; }
    .productsGrid .productGrid .product__image_5 {
      margin-left: 41px;
      margin-top: 21px;
      margin-bottom: 18px; }
    .productsGrid .productGrid .product__image_6 {
      margin-left: 33px;
      margin-top: 63px;
      margin-bottom: 41px; }
    .productsGrid .productGrid .productGrid__description {
      margin-left: 14px;
      line-height: 19px; }
      .productsGrid .productGrid .productGrid__description .productGrid__title {
        display: inline-block;
        color: #00b9fe;
        text-decoration: underline;
        margin-bottom: 16px;
        width: 186px; }
      .productsGrid .productGrid .productGrid__description .productGrid__stats {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400; }
        .productsGrid .productGrid .productGrid__description .productGrid__stats::after {
          content: "";
          clear: both;
          display: block; }
        .productsGrid .productGrid .productGrid__description .productGrid__stats .productGrid__stats-line::after {
          content: "";
          clear: both;
          display: block; }
        .productsGrid .productGrid .productGrid__description .productGrid__stats .productGrid__stats-line .productGrid__stats-name {
          display: inline-block;
          float: left;
          width: 60px;
          margin-right: 40px; }
          .productsGrid .productGrid .productGrid__description .productGrid__stats .productGrid__stats-line .productGrid__stats-name::after {
            content: "";
            clear: both;
            display: block; }
        .productsGrid .productGrid .productGrid__description .productGrid__stats .productGrid__stats-line .productGrid__stats-value {
          display: inline-block; }
          .productsGrid .productGrid .productGrid__description .productGrid__stats .productGrid__stats-line .productGrid__stats-value::after {
            content: "";
            clear: both;
            display: block; }

.list-style-wrapper {
  float: right;
  position: relative;
  right: 145px; }
  .list-style-wrapper::before {
    content: '>';
    position: absolute;
    top: 1px;
    right: 1px;
    display: block;
    height: 25px;
    width: 25px;
    background-color: #00b9fe;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: -1; }
  .list-style-wrapper .list-style {
    width: 132px;
    height: 26px;
    padding: 6px;
    background: transparent;
    color: #5c7b98;
    font-size: 14px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    cursor: pointer;
    border-color: #e3e9f0; }
