html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #00b9fe;
  text-decoration: none; }

@font-face {
  font-family: "Elektra Light Pro";
  src: url("../../fonts/Elektra Light Pro.otf"); }

@font-face {
  font-family: "Elektra Medium Pro";
  src: url("../../fonts/Elektra Medium Pro.ttf"); }

@font-face {
  font-family: "Elektra Medium Pro Italic";
  src: url("../../fonts/Elektra Medium Pro Italic.ttf"); }

body {
  color: #5c7b98;
  font-family: "Elektra Light Pro", sans-serif;
  font-size: 15px; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%; }
  .container::after {
    content: "";
    clear: both;
    display: block; }

.header {
  padding-top: 23px;
  height: 97px;
  background-image: -webkit-radial-gradient(center, circle, #f1f4f9, #d9e5ef);
  background-image: -o-radial-gradient(center, circle, #f1f4f9, #d9e5ef);
  background-image: radial-gradient(circle at center, #f1f4f9, #d9e5ef); }

.colored-logo {
  float: left; }

.contacts {
  float: right; }
  .contacts .tel__gray {
    display: block;
    font-size: 25px;
    color: #5c7b98;
    padding-bottom: 2px; }
    .contacts .tel__gray .tel__code {
      font-size: 15px;
      color: #00b9fe;
      font-weight: 700;
      margin-right: 9px;
      vertical-align: top; }
  .contacts .contact-mail {
    display: block;
    font-size: 17px;
    border-bottom: 1px solid #00b9fe;
    font-weight: 400; }
    .contacts .contact-mail:hover {
      color: #613993;
      border-bottom: 1px solid #613993; }

.main-navigation {
  margin-top: -20px;
  margin-bottom: 20px; }

.main-navigation__list {
  border-bottom: 1px solid #dddddd;
  width: 996px; }
  .main-navigation__list .main-navigation__item {
    display: inline-block;
    background-color: #f7f7f7;
    margin-left: 9px; }
    .main-navigation__list .main-navigation__item .main-navigation__link {
      color: #5c7b98;
      height: 40px;
      display: block;
      line-height: 40px;
      padding-left: 12px;
      padding-right: 15.5px;
      position: relative; }
      .main-navigation__list .main-navigation__item .main-navigation__link::after {
        content: '';
        display: block;
        border: 20px solid transparent;
        border-left: 12px solid #f7f7f7;
        position: absolute;
        top: 0;
        right: -32px; }
      .main-navigation__list .main-navigation__item .main-navigation__link::before {
        content: '';
        display: block;
        border: 20px solid #f7f7f7;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        position: absolute;
        top: 0;
        left: -12px; }
      .main-navigation__list .main-navigation__item .main-navigation__link:hover:before {
        border-color: #dce6f0;
        border-left-color: transparent; }
      .main-navigation__list .main-navigation__item .main-navigation__link:hover:after {
        border-left-color: #dce6f0; }
      .main-navigation__list .main-navigation__item .main-navigation__link:hover {
        background-color: #dce6f0; }
  .main-navigation__list .main-navigation__item_active {
    background-color: #00b9fe; }
    .main-navigation__list .main-navigation__item_active .main-navigation__link {
      color: #fff; }
      .main-navigation__list .main-navigation__item_active .main-navigation__link::after {
        border-left-color: #00b9fe; }
      .main-navigation__list .main-navigation__item_active .main-navigation__link::before {
        border-top-color: #00b9fe;
        border-bottom-color: #00b9fe; }
      .main-navigation__list .main-navigation__item_active .main-navigation__link:hover:before {
        border-color: #dce6f0;
        border-left-color: transparent; }
      .main-navigation__list .main-navigation__item_active .main-navigation__link:hover:after {
        border-left-color: #dce6f0; }
      .main-navigation__list .main-navigation__item_active .main-navigation__link:hover {
        background-color: #dce6f0;
        color: #5c7b98; }

.upButton {
  display: none; }

.breadcrumbs {
  float: left; }
  .breadcrumbs .breadcrumbs__list {
    display: inline-block; }
    .breadcrumbs .breadcrumbs__list .breadcrumbs__item {
      display: inline; }
      .breadcrumbs .breadcrumbs__list .breadcrumbs__item .breadcrumbs__link {
        border-bottom: none;
        color: #5c7b98; }
      .breadcrumbs .breadcrumbs__list .breadcrumbs__item .breadcrumbs__link_active {
        border-bottom: 1px solid #00b9fe;
        color: #00b9fe; }
      .breadcrumbs .breadcrumbs__list .breadcrumbs__item::after {
        content: '>';
        position: relative;
        left: 1px;
        font-size: 11px; }
      .breadcrumbs .breadcrumbs__list .breadcrumbs__item:last-child::after {
        content: none; }

.list-index {
  float: right;
  position: relative;
  left: 145px; }
  .list-index .list-index__list .list-index__item {
    display: inline-block; }

.list-style-wrapper {
  float: right;
  position: relative;
  right: 145px;
  bottom: 4px; }
  .list-style-wrapper::before {
    content: '>';
    position: absolute;
    top: 1px;
    right: 1px;
    display: block;
    height: 25px;
    width: 25px;
    background-color: #00b9fe;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: -1; }
  .list-style-wrapper .list-style {
    width: 132px;
    height: 26px;
    padding: 6px;
    background: transparent;
    color: #5c7b98;
    font-size: 14px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    cursor: pointer;
    border-color: #e3e9f0; }
