extends ../product_main
block title
	title
		| Product
block productMenu
	+mainNavigation(navMenu, 1, 'product')
block breadcrumbs
	+breadcrumbs(productCrumbs, 3)
block productSlider
	+productSlider(productImg)
block productInfo
	+productInfo(pList, 3)