extends ../products_main

block title
	title
		| Catalog
block menu
	+mainNavigation(navMenu, 2)
block breadcrumbs
	+breadcrumbs(productsCrumbs, 1)
block productListIndex
	+productListIndex(productsIndex, 1)
block sidebarMenu
	+sidebarMenu(navSidebar, 3)
block productList
	+prodList(pList)