.call-order{
	background-color: #f4f6f9;
	@include clearfix;
	float: left;
	margin-top:25px;
	padding-top:14px;
	padding-left:10px;
	width: 219px;
	margin-bottom:14px;

	.call-order__title{
		font-size: 25px;
		color: #829ab1;
		font-weight: 700;
		margin-bottom:16px;
		letter-spacing: 0.5px;
	}
	.call-order__form{
		margin-right: 10px;
		font-size: 14px;

		.call-order__item{
			@include clearfix;
			margin-bottom: 16px;

			.call-order__name{
				float: left;
				color: #5c7b98;
				display: block;
				height: 20px;
				line-height: 29px;
			}

			.call-order__input{
				float: right;
				width: 125px;
				color: #5c7b98;
				height: 20px;
				padding-left:5px;
				font-size: 12px;
				border:1px solid #e1e6ef;
				outline: none;

				&::placeholder{
					color: #dce3ec;
					font-size: 12px;
					padding-left: 5px;
					margin-top:17px;
				}
			}
			
			.select-wrapper{
				float: right;
				position: relative;
				background-color:#fff;
				cursor: pointer;
				
				&:last-child{
					margin-right: 12px;
				}
				&:before{
					content:'>';
					position:absolute;
					top:1px;
					right:1px;
					display:block;
					font-weight: 700;
					height:24px;
					width: 24px;
					background-color:$blue;
					color:#fff;
					font-size:16px;
					line-height:25px;
					text-align: center;
					transform:rotate(90deg);
					z-index: 1;
					
				}
				
				.call-order__select{
					float: right;
					background-color: transparent;
					appearance: none;
					width: 49px;
					height: 26px;
					border: 1px solid  #dae1eb;
					font-size:12px;
					color: #dae1eb;
					outline: none;
					padding-left:5px;
					cursor: pointer;
				
					option:not(:checked){
						color: #5c7b98;
					}
				}
			}
			
			.call-order__textarea{
				width: 197px;
				height: 56px;
				border:1px solid #dae1eb;
				resize: none;
				outline: none;
				padding-left:8px;
				padding-top: 9px;
				color: #5c7b98;


				&::placeholder{
					color: #dae1eb;
					font-size: 12px;
				}
			}

			.call-order__button{
				width: 90px;
				height: 35px;
				background-color: $blue;
				font-size:15px;
				font-weight: 700;
				color:#fff;
				border:none;
				margin-top:-5px;
				outline: none;
				cursor: pointer;

				&:last-child{
					background-color:#dae1eb;
					margin-left: 25px;
				}
			}

		}
	}
}