.main-products{
	@include clearfix;

	.main-products__block-title{
		display: block;
		padding-left: 246px;
		position:relative;
		font-size: 25px;
		font-weight: 700;
		letter-spacing: 0.6px;

		&:before{
			content: '';
			display: block;
			width: 230px;
			height: 1px;
			background-color: $gray;
			position:absolute;
			left:0px;
			top:12px;

		}

		&:after{
			content: '';
			display: block;
			width: 230px;
			height: 1px;
			background-color: $gray;
			position:absolute;
			right:0px;
			top:12px;

		}
	}

	.main-products__list{
		@include clearfix;

		.main-products__item{
			@include clearfix;
			width: 230px;
			height: 234px;
			float: left;
			border: 1px solid black;

			.main-products__img{
				float: left;
			}

			.main-products__title{
				float: right;
				display: block;
				width: 106px;
			}

			.main-products__stats-wrapper{
				@include clearfix;
				float: left;

				.main-products__stats{
					float: left;
					@include clearfix;

				.main-products__stats-name{
					float: left;
					display: block;
				}

				.main-products__stats-value{
					float: right;
					display: block;
				}
			}
			}
		}
	}
}