.product-info{
	float: right;
	margin-right:225px;
	
	.product-info__name{
		font-size: 26px;
		padding-top:7px;
		font-weight: 700;
		color:$blue;
		margin-bottom:23px;
	}
	.product-info__description{

		.product-info__stats{
			width: 443px;

			.product-info__stats-wrapper{
				height: 28px;
				font-size: 14px;
				padding-left:11px;
				padding-right:89px;
				line-height: 28px;
				@include clearfix;

				&:nth-child(2n){
					background-color: #eef2f4;
				}

				.product-info__stats-name{
					display: block;
					float: left;
				}

				.product-info__stats-value{
					display: block;
					width: 100px;
					float: right;
				}

			}
		}
	}
}