.footer{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:238px;
	background-image: url('../images/footer_bg.png');
	
	.ft-left-wrapper{
		float:left;
		padding-top:99px;
	}

	.ft-middle-wrapper{
		@include clearfix;
		float:left;
		padding-top:62px;
		margin-left:120px;

		.ft-menu{
			float:left;
			margin-left:71px;
			
			&:first-child{
				margin-left: 0;
			}

			.ft-menu__name{
				display:inline-block;
				font-size: $regular-font-size;
				color:#fff;
				font-weight:700;
				margin-bottom:10px;

			}

			.ft-menu__element{

				margin-bottom:7px;

				.ft-menu__link{
					color:#fff;
					text-decoration:underline;
				}
			}
		}
	}

	.ft-right-wrapper{
		float:right;
		padding-top:72px;
		word-spacing:1px;

		.mobile-store{
			margin-bottom:21px;
			@include clearfix;

			.apple{
				display:block;
				float:left;
			}

			.google{
				float:right;
				display:block;
				margin-left:6px;
			}
		}

		.big-socials{
			margin-left:-3px;

			.socials-item{
				margin-left:8px;
				cursor:pointer;

				&:first-child{
					margin-left: 0;
				}
			}

			.big-socials__link_vk{
				display:inline-block;
				height:44px;
				width:44px;
				background-image: url('../images/socials.png');
			}

			.big-socials__link_fb{
				display:inline-block;
				height:44px;
				width:44px;
				background-image: url('../images/socials.png');
				background-position:95px 0;
			}

			.big-socials__link_tw{
				display:inline-block;
				height:44px;
				width:44px;
				background-image: url('../images/socials.png');
				background-position:45px 0;
			}
		}
	}
}