.header{
	padding-top:23px;
	height:97px;
	background-image: radial-gradient(circle at center, $light-gray, $dark-gray);
}

.colored-logo{
	float:left;
}

.contacts{
	float:right;
	@include telephone("gray", $gray);

	.contact-mail{
		display: block;
		font-size: $medium-font-size;
		border-bottom: 1px solid $blue;
		font-weight: 400;
		&:hover{
			color: $purple;
			border-bottom: 1px solid $purple;
		}
	}
}

.header-line{

	.header-top{
		background-color:#45626e;
		padding-top:8px;
		padding-bottom:2px;

		.small-socials{
			margin-left:-2px;
			float: left;

			.small-socials__link_vk{
				background-image: url(../images/small-socials.png);
			}

			.small-socials__link_fb{
				background-image: url(../images/small-socials.png);
				background-position: 57px 0px;
			}

			.small-socials__link_tw{
				background-image: url(../images/small-socials.png);
				background-position:114px 0px;
			}

			.small-socials__link{
				margin-left:5px;
				display: inline-block;
				width:26px;
				height:26px;

				&:first-child{
					margin-left:0;
				}
			}
		}
		
		.adress{
			@include clearfix;
			float: right;
			@include telephone("white", $white);

			.adress__marker{
				margin-right:10px;
				float:left;
			}

			.adress__title{
				float:left;
				display: inline-block;
				vertical-align: top;
				line-height: 25px;
				color:$white;
				font-size:13px;
				margin-right:188px;
			}
		}
	}

	.header-bot{

	}
}
