.content{

	.store-descript{
		float:right;
		width:740px;

		.store-descript__title{
			font-size:$large-font-size;
			font-weight: 700;
			word-spacing:2px;
			margin-bottom:6px;
		}

		.store-descript__parf{
			line-height:20px;
			font-size:$regular-font-size;
			margin-bottom:20px;
		}

	}
}