.content{
	position: relative;
	
	.left-content{
		position: relative;
		float: left;
		width: 229px;
		margin-top:38px;
		@include clearfix;
	}

	.right-content{
		position: relative;
		float: right;
		margin-top: 38px;
		margin-right: 3px;
		@include clearfix;
	}
}