.content{

	.products{
		float:right;
		width: 740px;

		.product{
			border:1px solid #dae1eb;
			@include clearfix;
			margin-bottom:20px;
			width:737px;
			height:158px;
			.product__image:nth-child(1){
					@each $top, $left in $positions{
						@include product-image($top, $left);
					}
				}

			.product__description{
				float:right;
				width:443px;
				margin-right:102px;
				margin-top:32px;

				.product__title{
					display:inline-block;
					color:$blue;
					border-bottom:2px solid $light-blue;
					margin-bottom:14px;
				}

				.product__stats{
					font-size:14px;
					line-height:20px;
					font-weight:400;
				}
			}
		}

	}

	.store-descript{
		float:right;
	}
}