.sidebar-navigation{
		float: left;
		width: 230px;

		.sidebar-navigation__list{


			.sidebar-navigation__item{
				
				.sidebar-navigation__proguct-name{
					display: block;
					padding-top:5.5px;
					padding-bottom: 3.5px;
					padding-left:18px;
					background-color:$ultra-light-gray;
					cursor:pointer;

					
					&::before{
						content:'';
						display:block;
						height:1px;
						border-top: 1px solid #fff;
						width:230px;
						position: relative;
						left:-18px;
						top:-6px;
					}

					&::after{
						content:'';
						display:block;
						height:1px;
						border-bottom: 1px solid #dae1eb;
						width:230px;
						position: relative;
						left:-18px;
						top:3px;
					}

					&:hover{
						background-color: $ultra-dark-gray;
					}

					&:hover::before{
						border-top-color: $ultra-dark-gray;
					}

				}

			}

			.sidebar-navigation__item_active{
				
				.sidebar-navigation__product-name_active{
					background-color:$blue;
					color:#fff;

					&:hover{
						background-color:$ultra-dark-gray;
						color:$regular-text-color;
					}
				}
				.sidebar-navigation-submenu__item{
					position:relative;

					.sidebar-navigation-submenu__link{
						display:block;
						padding-top:5.5px;
						padding-bottom: 3.5px;
						padding-right:14px;
						padding-left:31px;
						color:$regular-text-color;
						background-color:$ultra-light-gray;

						&::before{
							content:'';
							display:block;
							height:1px;
							border-top: 1px solid #fff;
							width:230px;
							position: relative;
							left:-31px;
							top:-6px;
						}

						&::after{
							content:'';
							display:block;
							height:1px;
							border-bottom: 1px solid #dae1eb;
							width:230px;
							position: relative;
							left:-31px;
							top:3px;
						}

						&:hover{
							background-color:$ultra-dark-gray;
						}

						&:hover::before{
							border-top-color:$ultra-dark-gray;
						}
					}

					&::before{
						content:'>';
						position:absolute;
						top:10px;
						left:19px;
						font-size:12px;
						font-weight:1000;
						cursor:pointer;
					}
				}

			}
		}
	}