mixin ftMenu(obj, name)
	ul.ft-menu
		span.ft-menu__name= name
		each value, key in obj 
			li.ft-menu__element
				a(href= key).ft-menu__link= value
-
	var firstMenu = {
		'about.html': 'О нас',
		'price.html': 'Наши цены',
		'discount.html': 'Наши скидки',
		'shares.html': 'Акции'}
-
	var secondMenu = {
		'about.html': 'Смартфоны',
		'price.html': 'Планшеты',
		'discount.html': 'Компьютеры',
		'shares.html': 'Аксеcсуары'}
-
	var thirdMenu = {
		'about.html': 'Телефоны',
		'price.html': 'Адреса',
		'discount.html': 'Карта проезда',
		'shares.html': 'Обратная связь'}		

footer.footer
	.container
		.ft-left-wrapper
			a(href="index.html").white-logo
				img(src="images/logo_white.png", alt="logo").white-logo__img
		.ft-middle-wrapper
			+ftMenu(firstMenu, 'О магазине')
			+ftMenu(secondMenu, 'Каталог')
			+ftMenu(thirdMenu, 'Контакты')
		.ft-right-wrapper
			.mobile-store
				a(href="apple.com").apple
					img(src="images/apple.png", alt="App Store").mobile-store__img_apple
				a(href="google.com").google
					img(src="images/google.png", alt="Google Play").mobile-store__img_google
			.big-socials
				a(href="vk.com" class='socials-item').big-socials__link_vk
				a(href="facebook.com" class='socials-item').big-socials__link_fb
				a(href="twetter.com" class='socials-item').big-socials__link_tw
