header.header
	.container
		a(href="index.html").colored-logo
			img(src="images/logo_colored.png", alt="logo").colored-logo__image
		.contacts
			a(href="tel:+79213221232").contact-tel
				span.contacts-tel__blue
					| +7 (921)
				| 322 12 32
			a(href="mailto:manager@company.com").contact-mail
				| manager@company.com