.main-slider
	.main-slider__element
		img(src="", alt="").main-slider__img
		.prev-button
			| Пред.
		.next-button
			| След.
		.main-slider__description
			h3.main-slider__title
				a(href="#").main-slider__link
					| iMac за пол цены 
			span.main-slider__text
				| Прини свой старый Mac  и получи скидку на новый!