-
	var navMenu = {
		'mobile.html':'Мобильные телефоны',
		'tablets.html': 'Планшеты',
		'mp3pleers.html':'Mp3 лееры',
		'computers.html':'Персональные компьютеры',
		'notebooks.html':'Ноутбуки',
		'appletv.html':'Apple TV',
		'accessories.html': 'Аксессуары'
	}

- 
	var productsCrumbs = {
		'index.html': 'Главная',
		'pdoructs.html':'Каталог'
	}
-
	var productCrumbs ={
		'index.html': 'Главная',
		'pdoructs.html':'Каталог',
		'product': 'iPad Air Wi-Fi + Cellular 128GB - Silver'
	}
-
	var productsIndex = {
		'first.html': '1',
		'second.html': '2',
		'third.html': '3',
		'four.html': '4',
		'five.html': '5',
		'all.html': 'Все'
	}

-
	var navSidebar = [{
		'name': 'Iphone',
		'submenu':[{
			'name': 'iPhone 4s',
			'url': 'iphone4s.html'
			}, {
			'name': 'iPhone 5',
			'url': 'iphone5.html'
			}, {
			'name': 'iPhone 5s с эксклюзивным дизайном',
			'url': 'iphone5s.html'
			}, {
			'name': 'iPhone 6',
			'url': 'iphone6.html'
			}, {
			'name': 'iPhone 6 plus',
			'url': 'iphone6plus.html'
			}]
	},{'name' : 'iMac'},
	  {'name' : 'iPad'},
	  {'name' : 'Macbook'},
	  {'name' : 'iPod'},
	  {'name' : 'Другое'}]


-
	var pList = [{
		'url': 'images/apple-display__big.png',
		'title': 'Apple Thunderbolt Display 27"',
		'stats': [{
			'name':'Артикул:',
			'value': '42787825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]},{
		'url': 'images/apple-imac__big.png',
		'title': 'Apple iMac 27"',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]},{
		'url': 'images/iphone5s__big.png',
		'title': 'iPhone 5s Gold',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]},{
		'url': 'images/ipad-air__big.png',
		'title': 'iPad Air Wi-Fi + Cellular 128GB - Silver',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]},{
		'url': 'images/ipod__big.png',
		'title': 'Apple iPod nano 7G 16 ГБ Blue',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]},{
		'url': 'images/router__big.png',
		'title': 'Роутер Wi-Fi Apple AirPort Extreme Base Station',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]}
	]

-
	var productImg = [
	'images/slider-img2.png',
	'images/slider-img3.png',
	'images/slider-img4.png']

-
	var galleryList = [
		'images/gallery-img1.png',
		'images/gallery-img2.png',
		'images/gallery-img3.png',
		'images/gallery-img4.png',
		'images/gallery-img5.png',
		'images/gallery-img6.png',
		'images/gallery-img7.png',
		'images/gallery-img8.png',
		'images/gallery-img9.png'
	]
-
	var popularProducts = [
		{
		'img': 'images/popular-prod1.png',
		'name': 'Apple Thunderb Display 27"',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]},{
		'img': 'images/popular-prod2.png',
		'name': 'iMac 27"',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]},{
		'img': 'images/popular-prod3.png',
		'name': 'iPhone 5s Gold',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]}
		]
-
	var discountedProducts = [
		{
		'img': 'images/discount-prod1.png',
		'name': 'iPad Air Wi-Fi 128GB - Silver',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]},{
		'img': 'images/discount-prod2.png',
		'name': 'Apple iPod nano 7G 16 ГБ Blue',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]},{
		'img': 'images/discount-prod3.png',
		'name': 'Роутер Wi-Fi Apple AirPort',
		'stats': [{
			'name':'Артикул:',
			'value': '87825,'
		},{
			'name':'Опция:',
			'value': 'включена,'
		},{
			'name':'Цвет:',
			'value': 'серебристый,'
		},{
			'name':'Размер:',
			'value':'1280*1245*90,'
		},{
			'name':'Вес:',
			'value':'9кг'
		}]}
		]