-
	var navMenu = {
		'mobile.html':'Мобильные телефоны',
		'tablets.html': 'Планшеты',
		'mp3pleers.html':'Mp3 лееры',
		'computers.html':'Персональные компьютеры',
		'notebooks.html':'Ноутбуки',
		'appletv.html':'Apple TV',
		'accessories.html': 'Аксессуары'
	}

- 
	var productsCrumbs = {
		'index.html': 'Главная',
		'pdoructs.html':'Каталог',
		'simple.html': 'Ne glavnaya'
	}

-
	var productsIndex = {
		'first.html': '1',
		'second.html': '2',
		'third.html': '3',
		'four.html': '4',
		'five.html': '5',
		'all.html': 'Все'
	}

	