@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

@mixin clearfix(){
	&::after{
		content:"";
		clear:both;
		display:block;
	}
}


@mixin product-image($index, $left, $top, $bottom: 0){
	
	.product__image_#{$index}{
		margin-left: $left;
		margin-top: $top;
		margin-bottom: $bottom;
	}

}

@mixin telephone($colorName, $color){
	.tel__#{$colorName}{
		display: block;
		font-size: $large-font-size;
		color: $color;
		padding-bottom:2px;
		float:right;
	
		.tel__code{
			font-size: $regular-font-size;
			color: $blue;
			font-weight: 700;
			margin-right:9px;
			vertical-align:top;
		}
	}
}