@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

@mixin clearfix(){
	&::after{
		content:"";
		clear:both;
		display:block;
	}
}


@mixin product-image($index, $left, $top, $bottom: 0){
	
	.product__image_#{$index}{
		margin-left: $left;
		margin-top: $top;
		margin-bottom: $bottom;
	}

}