///Colors
$blue: #00b9fe;
$light-blue: #7fdcfe;
$purple: #613993;
$gray: #5c7b98;
$light-gray:#f1f4f9;
$dark-gray:#d9e5ef;
$ultra-dark-gray:#dce6f0;
$ultra-light-gray:#f7f7f7;
$white:#ffffff;
$dark-green: #44626e;
/// Fonts
$elektra-light: ('Elektra Light Pro', sans-serif);
$elektra-medium: ('Elektra Medium Pro', sans-serif);
$elektra-medium-italic: ('Elektra Medium Pro Italic', sans-serif);
///Text Colors
$link-color: $blue;
$active-link-color: $purple;
$regular-text-color:$gray;
$footer-text-color: $white;
///Container's max-width
$max-width: 1000px;
///Font size
$regular-font-size: 15px;
$large-font-size: 25px;
$medium-font-size: 17px;
///Maps
$index: (1,2,3,4,5,6);
$pos: (
	27px : 33px,
	45px : 17px,
	44px : 29px,
	40px : 19px,
	39px : 26px,
	36px : 42px
	);

$positions: (
    '1': (
		'27px': '33px'
    	),
    '2': (
    	'45px': '17px'
    	),
    '3': (
		'44px': '29px'
    	),
    '4': (
		'40px': '19px'
    	),
    '5': (
    	'39px': '26px'
    ),
    '6': (
        '36px': '42px'
    )
);