///Colors
$blue: #00b9fe;
$purple: #613993;
$gray: #5c7b98;
$light-gray:#f1f4f9;
$dark-gray:#d9e5ef;
$ultra-dark-gray:#dce6f0;
$ultra-light-gray:#f7f7f7;
$white:#ffffff;
$dark-green: #44626e;
/// Fonts
$elektra-light: ('Elektra Light Pro', sans-serif);
$elektra-medium: ('Elektra Medium Pro', sans-serif);
$elektra-medium-italic: ('Elektra Medium Pro Italic', sans-serif);
///Text Colors
$link-color: $blue;
$active-link-color: $purple;
$regular-text-color:$gray;
$footer-text-color: $white;
///Container's max-width
$max-width: 1000px;
///Font size
$regular-font-size: 15px;
$large-font-size: 25px;
$medium-font-size: 17px;