html, body {
  box-sizing: border-box;
  height:100%;
}
.maincontent{
	position:relative;
	min-height:100%;
}

*::before,
*::after {
  box-sizing: inherit;
}
///Basic ul style's
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

///Basic link color
a {
	color: $link-color;
	text-decoration: none;
}

h3{
	margin:0;
	padding:0;
}

p{
	margin:0;
	padding:0;
}